{% extends 'shop/base.html' %}
{% block css %}
.col-md-3
{
display: inline-block;
margin-left:-4px;
}
.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
width: 170px;
height: 200px;
}
body .carousel-indicator li{
background-color: blue;
}
.carousel-indicator li{
    background-color: green;
}
body .carousel-indicators{
bottom: -40px;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top: 222px;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}

{% comment %} extra material (Testing material) {% endcomment %}
{% comment %} .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } {% endcomment %}
  {% comment %} end testing {% endcomment %}

 {% comment %} *{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;} {% endcomment %}
    {% comment %} *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
    } {% endcomment %}
    :root{
        --bg-color: #ffffff;
        --text-color:#121212;
        --main-font:2.2rem;
        --p-font:1.1rem;
    }
    *{
        list-style:none;
    }
    body{
        background-color: var(--bg-color);
        color: var(--text-color);
    }
    header{
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        position: fixed;
        background: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        box-shadow: 0px 2px 18px 0px rgb(129 162 182 /20%);
        transition: .3s;
    }
    .logo{
        color: var(--text-color);
        margin-left: 2px;
        font-size: var(--main-font);
        font-weight: 600;
        line-height: 0.8;
    }
    #menu-icon{
        font-size: 38px;
        color: var(--text-color);
        z-index: 10001;
        display: none;
    }
    .navbar{
        display: flex;
    }
    .navbar a{
        font-size: var(--p-font);
        color: var(--text-color);
        font-weight: 600;
        padding: 10px 15px;
        margin: 0 10px;
        transition: all .40s ease;
    }
    .navbar a:hover{
        background-color: var(--text-color);
        color:#ffffff;
        transition: .3s;
    }
    .icons{
        display: inline-block;
    }
    .icons i{
        color: var(--text-color);
        font-size: 24px;
        margin-left: 15px;
    }
    .icons i:hover{
        opacity: 0.7;
    }
    section{
        padding: 100px 8%;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit ,minmax(360px,auto));
        align-items: center;
        gap: 2rem;
        text-align: center;
        cursor: pointer;
        padding-top: 2rem;
    }
    .box{
        padding: 0px 20px 10px 20px;
        background: transparent;
        box-shadow: 5px 30px 56.1274px rgb(55 55 55 /12%);
        border-radius: 10px;
        position: relative;
        transition: all .35s ease;
    }
    .box img{
        width: 100%;
        height: auto;
    }
    .box h4{
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .box .cart i {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
        background: var(--text-color);
        color: var(--bg-color);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
    .box:hover{
        transform: translateY(-5px);
    }
  {% endblock %}

{% block body %}

{% load static %}


 {% comment %} <div class="container">
    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h5 class="my-4">Flash Sale On <strong>{{product.0.category}}</strong> - Recommended Items</h5>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
             <div class="container carousel-inner no-padding ">
                <div class="carousel-item active"> 
                    {% for i in products_by_category %}
                    <div class="box">
                        
                            <img src='/media/{{i.image}}'>
                            <div class="card-body">
                                <h5 id="namepr{{i.id}}">{{i.product_name}}</h5>
                                <h5>Rs. <span id="pricepr{{i.id}}">{{i.price}}</span></h5>
                                <span id="divpr{{i.id}}" class="divpr">
                                    <section class="shop" id="shop">
                                        <div class="container"> {% endcomment %}
                                
                                            {% comment %} <div class="box">
                                                <img src="./Bride1.webp" alt="picture one">
                                                <h4>Bridal Lehenga</h4>
                                                <h5>Rs.20000/-</h5>
                                                <div class="cart"><a href="#"><i class='bx bx-cart'></i></a>
                                                </div>
                                            </div>
                                 
                                    <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                                </span>
                                <a href="/Shop/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">QuickView</button></a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- left and right controls for the slide -->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {% endfor %}
</div> 
 {% endcomment %}


 <section class="shop" id="shop"><br>
    {% for category, products in products_by_category.items %}
    <h2>{{category}}<h2>
  
    <div class="container">
        {% for product in products %}
        <div class="box">
            <img src='/media/{{product.image}}' alt="picture one">
            <h4>{{product.product_name}}</h4>
            <h5>Rs.{{product.price}}</h5>
            <div class="cart"><a href="#"><i class='bx bx-cart'></i></a>
            </div>
        </div>
        {%endfor%}
    </div>
</section>

{%endfor%}

 {% endblock %}
{% block js %}
<script>
// Find out the cart items from localStorage
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
}
// If the add to cart button is clicked, add/increment the item
//$('.cart').click(function() {
$('.divpr').on('click', 'button.cart', function() {
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
        
    } else {
        qty = 1;
        name = document.getElementById('name'+idstr).innerHTML
        price = document.getElementById('price'+idstr).innerHTML
        cart[idstr] = [qty, name, parseInt(price)];

    }
    updateCart(cart);
});
//Add Popover to cart
$('#popcart').popover();
updatePopover(cart);

function updatePopover(cart) {
    console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
        i = i + 1;
    }
    popStr = popStr + "</div> <a href='/Shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
    console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}

function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
        document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);
}

function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0];
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
    updatePopover(cart);
}
// If plus or minus button is clicked, change the cart as well as the display value
$('.divpr').on("click", "button.minus", function() {
    a = this.id.slice(7, );
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    if(cart['pr'+a][0]==0){
        document.getElementById('divpr' + a).innerHTML='<button id="pr'+a+'"class="btn-primary btn cart">Add to Cart</button>'
        delete cart['pr'+a];
    }
    else{
        document.getElementById('divpr' + a).innerHTML = cart['pr' + a][0];
    }
    updateCart(cart);
});
$('.divpr').on("click", "button.plus", function() {
    a = this.id.slice(6, );
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});
</script>
{% endblock %}